<head>
	<title>Importando JQuery do Google CDN</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</head>
<body>
	<p>Neste caso a versão importada será a mais recente 1.7.x<p>	
</body>

