<head>
	<title>Importando o JQuery da mesma pasta!</title>
	<script type='text/javascript' src='jquery-1.7.2.min.js'></script>
</head>
<body>
	<p>Aqui a biblioteca foi baixada do site e incluida na tag script acima.</p>
</body>

