body{
}

table{
	border-collapse:collapse;
	width:100%;
}

td, th{
	text-align:left;
	padding:15px;
}

.content{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:rgb(50,50,50);
	padding:50px;
	margin:50px;
}

.lyric{
	background-color:rgb(200,200,200);
	font-size:24px;
	width:100%;
	padding:25px;
}

.color{
	font-size:30px;
	color:#F2E3B6;
	padding:10px;
	width:100%;	
}

.boxed{
	color:#FFFFFF;
	padding:20px;
	width:50px;
	height:50px;
	position:relative;	
}

.tag{
	display:inline;
	padding:10px;
	margin:5px;
	color:#FFFFFF;
}

.wraper{
	padding:10px;
	margin:5px;	
}

#lefty{
	display:inline;
	width:30%;
	float:left;
}

#righty{
	display:inline;
	width:70%;
	float:right;
}

.selected{
	color:rgb(240,240,240);
}

.kindared{
	background-color:#D94E4E;
}

.kindagreen{
	background-color:#267365;
}

.kindayellow{
	background-color:#D1C087;
}

.kindadarkred{
	background-color:#8C4242;
}

.zebra{
	background-color:#DDDDDD;
}
