<head>
	<title>Alerts usually sucks.</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="alert.js"></script>
</head>
<body>
	<p>Any-f**king-thing<p>	
</body>

